#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 1200px;
}

.all-food-elements {
    display: flex;
}

.all-food-elements h2 {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    width: 275px;
    height: 275px;
}

.customOrders {
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

